<!--The content below is only a placeholder and can be replaced.-->

 <!-- <app-amol></app-amol> -->
 <!-- <app-task1></app-task1> -->
  
 <!-- <app-ngclass></app-ngclass> -->

<!-- 
    
 -->
    <!-- {{title}} -->
    <!-- <p [ngStyle]="{'background': isBlue ? 'blue':'red'}">i am an attribute directive</p> -->
<!-- </div> -->

<!-- <p appCustom>Normal para</p> -->



<!--<div>
    <button (click)="submit()">submit</button>
</div> -->
<!-- username: <input type="text" [(ngModel)]="userName">
 <p *ngIf="show">
    condition is true and ngIf is true
</p>

<p *ngIf="!show">
condition is false and ngIf is false
</p>  -->
<!-- <button (click)="show =!show">{{show? 'hide': 'show'}}</button> -->
<!-- <div (click)="onDivClick()">
<button (click)="onShow()">Show </button>
</div> -->
<!-- 
show = {{show}}
<br> -->
<!-- <div *ngIf="show">
    Text to show
</div> -->
 <!-- <app-ngfor></app-ngfor> -->
<!-- <app-ngswitch></app-ngswitch>  -->
<!-- <div>
<button (click)="submit()">Save</button> 


</div> -->
<!-- 
 <p>
    <input type="text" placeholder="Input here....."#val>
    <button (click)="submitValue(val)">Submit value</button>
</p> 

<app-child *ngIf="appchildExist"[name]="name"> this is content from parent</app-child>

<button class="btn btn-danger" (click)="destroy()">Destroy component</button> -->
<!-- <div>
    <app-santosh (myOutput)="GetChildData($event)"></app-santosh>
 </div> -->

<!-- <div> 
<app-santosh [myinputMsg]="myInputMassage"></app-santosh>
</div> -->
 <!-- <app-sunil [age]="friendsAge"> </app-sunil>   -->
<!-- <app-sunil [record]="sunilInfo"></app-sunil> -->
<!-- <app-assignment0507></app-assignment0507> -->
<!-- <app-simpletemplate></app-simpletemplate> -->
<app-reactive></app-reactive>
<!-- <app-addremovearray></app-addremovearray> -->
<!-- <app-ngclass></app-ngclass> -->
<!-- <app-reat></app-reat> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-pipedemoreal></app-pipedemoreal> -->


<!-- <div class="page-area">
    <h2>Home</h2>
    <div class="row">
        <div class="col-md-6">
        <app-comp1></app-comp1>    
        </div>
        <div class="col-md-6">
            <app-comp2></app-comp2>    
            </div>
            <div class="col-md-6">
                <app-comp3></app-comp3>    
                </div>
                <div class="col-md-6">
                    <app-comp4></app-comp4>    
                    </div>
    </div>
</div> -->

<!-- <header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="home/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="about/">Aboutus</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="contact/">Contactus</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="product/product/">Product</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="service/">Service</a></li>
        </ul>
    </nav>
</header> -->


<!-- <app-employee-details></app-employee-details> -->


 <!-- <app-login></app-login> -->
<!-- <app-loginform></app-loginform> -->
<router-outlet></router-outlet>
