<!-- <p>product works!</p> -->
<div class="row">
    <div class="col-md-12">
    <div class="card">
        <img class="card-img-top" src="../../assets/images/Laptop.jpg" alt="Card immage cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the cards content</p>
            <a routerLink="laptop" class="btn btn-primary">Go Laptop</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/images/Tablet.jpeg" alt="Card immage cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the cards content</p>
            <a routerLink="tablet" class="btn btn-primary">Go Tablet</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../assets/images/TV.jpg" alt="Card immage cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the cards content</p>
            <a routerLink="tv" class="btn btn-primary">Go TV</a>
        </div>
    </div>
    </div>
</div>
  